/* //// second  */
/* ///// btn color #ff9234   , other color #233d4d, other hover #759086 
        icons and border color slateblue
//// */

/*-------------------*/
    /* headings */
/*-------------------*/
body {
    margin: 0;
    /* overflow-y:scroll; */
    display: grid !important;
}

html {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    scroll-behavior: smooth !important;
    background-color: var(--body-main);
 
}

.classTest {
    background-color: red;
}
:root{
    --content-main: #767c77;
    --clr-main: #9cada4;
    --body-main: #d8e7e2;
    --main: #233d4d; /* nav and border on h2 */
    --other-hover: #759086;
    --trans: all 0.5s;
    --logo-color: #4e89ae;
}

h1, h2, h3 {
    font-weight: 300;
    text-transform: uppercase;
    
}

h1 {
    margin-top: 0;
    margin-bottom: 1.125rem;
    font-size: 260%;
    font-weight: bold;
    color: #fff;
    /* word-spacing: 15; */
    letter-spacing: 7px;
    line-height: 0.5;
}

h2 {
    font-size: 110%;
    text-align: center;
    word-spacing: 2px;
    letter-spacing: 1px;
}

h2::after{
    display: block;
    width: 200px;
    background-color: var(--main);
    content: " ";
    height: 3px;
    margin: 0 auto;
    margin-top: 15px;
}

h3 {
    font-size: 72%;
}


/*-------------------*/
    /* NAV */
/*-------------------*/

   
img.logo {
    border-radius: 50% !important;
}
.logo {
    height: 3.25rem;
    width: 3.25rem;
    border-radius: 50% !important;
    margin-top: 40px;
    position: absolute;
}
.bg-light {
    background-color: var(--main) !important;
    z-index: 2;
    position: -webkit-sticky;
    position: sticky;
    top: 0.1px;
    border-bottom: 2px solid transparent;
}


.mainNav {
    float: right;
    font-size: 30px;
    margin-right: 10px;
    align-items: center;
}

li {
    margin-left: 12px;
    list-style-type: none;
    margin-right: 30px;
    display: inline-block;
    font-size: 35px;
}

.mainNav li a {
    text-decoration: none;
    text-transform: capitalize;
    font-size: 20px;
    color: var(--logo-color) !important;
    padding: 5px 0;
    border-bottom:  2px solid transparent;
    transition: var(--trans) ;
}

.mainNav li a:hover {
    border-bottom:  2px solid var(--logo-color);
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(banner1.jpg);
    height: 100vh;
    background-size: cover;
    background-repeat: none;
    background-position: center;
}

.text-hero {
    padding-top: 5%;
}

.nav-border {
    border-bottom: 3px solid var(--logo-color);
    transition: 1s;
}
.navbar-toggler {
    position: absolute;
    right: 40px;
}
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
outline: var(--logo-color);
box-shadow: var(--logo-color);
border-color: var(--logo-color);
}

/*-------------------*/
    /* SECTION SERVICES */
/*-------------------*/

.services-box {
    width: 25%;
    margin-left: 11%;
    align-items: center;
    text-align: center;
    margin-top: 20px;
}

.services-box p {
    font-size: 65%;
}

section {
    padding: 2rem;
    line-height: 100%;
    letter-spacing: 0.5px;
}

.services {
    margin-top: 10px;
}


/*-------------------*/
/* re */
    /* PHARAGRAS  */
/*-------------------*/
.long-text {
    font-size: 70%;
    line-height: 140%;
    width: 70%;
    padding: 1.25rem;
    margin-left: 15%;
    text-align: center;
    letter-spacing: 1px;
}

.row {
    max-width: 1110px;
    margin: 0 auto;
}


/*-------------------*/
    /* icons */
/*-------------------*/
.icon-big {
    font-size: 260%;
    color:  var(--main);
}


    /*-------------------*/
    /* buttons */
    /*-------------------*/
    .btn:link,
    .btn:visited {
    font-weight: 300;
    padding: 10px;
    font-size: 25px;
    text-decoration: none;
    border-radius: 50px;
    text-transform: capitalize;
    margin-left: 10px;
    transition: var(--trans);
 } 

 .btn-full {
     background-color: var(--other-main);
     border: 1px solid #fff;
     color: #fff;
 }

 .btn-full:hover {
    background-color: transparent;
    border: 1px solid var(--other-hover);
    color: var(--other-hover);
}

 .btn-ghost {
    border: 1px solid var(--other-hover);
    color: var(--other-hover);
 }

 .btn-ghost:hover {
    background-color: var(--clr-main);
    color: rgb(46, 46, 46);
 }


/*-------------------*/
    /* Gallery */
/*-------------------*/
.showcase-items {
    display: grid;;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.portofolio-item-wrapper{
    position: relative;
}

.portofolio-img-background {
    display: grid;;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 350px;
    width: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.img-text-wrapper {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 100%;
    text-align: center;
    padding-left: 80px;
    padding-right: 80px;
}

.logo-wrapper ion-icon {
    width: 30%;
    margin-bottom: 10px;
}

.icon {
    color: #fff;
    font-size: 400%;
}

.img-text-wrapper .subtitle {
    font-size: 15px;
    font-weight: bold;
    color: transparent;
    transition: 1s;
}

.img-text-wrapper:hover .subtitle {
    font-size: 15px;
    font-weight: bold;
    color: seagreen;
}


.img-darken {
    transition: 1s;
    filter: brightness(10%);
    justify-content: center;
}



.showcase-items {
    display: grid;;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.portofolio-item-wrapper{
    position: relative;
}

.portofolio-img-background {
    height: 350px;
    width: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.img-text-wrapper {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 100%;
    text-align: center;
    padding-left: 80px;
    padding-right: 80px;
}

.logo-wrapper ion-icon {
    width: 30%;
    margin-bottom: 10px;
}

.icon {
    color: #fff;
    font-size: 400%;
}

.img-text-wrapper .subtitle {
    font-size: 15px;
    font-weight: bold;
    color: transparent;
    transition: 1s;
}

.img-text-wrapper:hover .subtitle {
    font-size: 15px;
    font-weight: bold;
    color: seagreen;
}


.img-darken {
    transition: 1s;
    filter: brightness(10%);
    justify-content: center;
}

.contact-info {
    display: flex;
    justify-content: center;
    padding-left: 0;
    
}

.contact-info a {
    text-decoration: none;
    font-size: 15px;
    color: #fff;
}



/*-------------------*/
    /* classes onScroll */
/*-------------------*/


  
  .navigation {
    transition: top .6s;
   }
   
  
  .animate {
    top: -251px;
  }
  
  .sticky {
      color: slateblue !important;
    top: 0;
    z-index: 110;
  }




/*-------------------*/
    /* footer */
/*-------------------*/

footer {
    /* background-color: #ccc; */
    background-color: var(--main);
    /* padding: 20px; */
}
.social-footer {
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 0;
    /* padding: 40px; */

}

.social-items {
    text-align: center;
    text-align: center;
    padding: 10px;
}


.social-footer li ion-icon {
    color: #fff;
    padding: 1;
    margin: 0 auto;
    opacity: -10;
    /* font-size: 1px; */
}


.jorge-link {
    display: grid;
    grid-template-columns: 1fr;
    background-color: #1b1b1b;
}

.jorge-link p {
    text-align: center;
    color: #fff;
    font-size: 40%;
}

.jorge-link a {
    text-decoration: none;
    color: #35d0ba;
    border-bottom: 1px solid #35d0ba;
}




















/* @media only screen and (max-width: 480px) {
    h1 {
        font-size: 1.5rem;
        color: #fff;
        margin-bottom: 1.125rem;
    }

    .text-hero {
        padding-top: 30%;
        padding-left: 10%;
    }

    .btn:link,
    .btn:visited {
    padding: 8px;
    font-size: 20px;
    color: #fff;
 }
} */



/* /////////// portrait //////// */
/* @media only screen and (max-width: 414px) {
    h1 {
        font-size: 1.5rem;
        color: #fff;
        margin-bottom: 1.125rem;
    }

    .text-hero {
        top: 80%;
        padding-left: 10%;
    }

    .btn:link,
    .btn:visited {
    padding: 8px;
    font-size: 20px;
    color: #fff;
 }
} */

/* //// small screen landscape ///// */
/* @media (max-width: 750px) {

    h1 {
        top: 10%;
        font-size: 1.5rem;
        color: #fff;
        margin-bottom: 1.125rem;
    }

    .text-hero {
        padding-top: 60%;
        padding-left: 10%;
    }

    .btn:link,
    .btn:visited {
    padding: 8px;
    font-size: 20px;
    color: #fff;
 }

} */

/* //////////////////////// @MEDIA //////////////////////////////////// */



@media (max-width: 750px) {
    header {
        height: 80vh;
        background-repeat: no-repeat;
        background-position: center;
    }
    /* h1 {
        font-size: 1.5rem;
        color: #fff;
        margin-bottom: 1.125rem;
    } */

    h2 {
        font-size: 60%;
        text-align: center;
        word-spacing: 1px;
        letter-spacing: 0.2px;
    }
    
    h2::after{
        width: 100px;
    }
    img.logo {
        border-radius: 50% !important;
    }
    .logo {
        height: 2.25rem;
        width: 2.25rem;
        float: left;
        margin-left: 45px;
        margin-top: 5px;
    }

    /* .mainNav {
        color: #fff;
        display: inline-flex;
        align-items: center;
        margin-right: 20px;
        padding: 0;
    } */
    
    li {
        margin-right: 1px;
        font-size: 15px;
        list-style-type: none;
    }
    /* .mainNav li a {
        font-size: 15px;
    } */

    .text-hero {
        padding-top: 30%;
        padding-left: 10%;
    }

    .btn:link,
    .btn:visited {
    padding: 8px;
    font-size: 0.7rem;
 }

 .services-box {
    width: 100%;
    margin-left: 1%;
    align-items: center;
    text-align: center;
 }

 section {
    padding: 1rem;
 }

 .icon-big {
    font-size: 180%;
}
 .long-text {
    font-size: 70%;
    line-height: 140%;
    width: 80%;
    padding: 1.25rem;
    margin-left: 0;
    text-align: center;
    letter-spacing: 1px;
}
 .gallery {
    width: 60%;
}

.showCase {
    list-style: none;
    margin-left: 5px;
    margin-right: 5px;
}

.showCase li {
    display: inline-block; 
    width: 25%;
}

.image {
    width: 120%;
    height: auto;
}
.img-text-wrapper {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.showcase-items {
    display: ruby;
    grid-template-columns: 1fr 1fr !important;
    grid-gap: 2px;
}

.icon {
   font-size: 200%; 
}
.contact-info {
    display: grid !important;
    align-items: center;
    padding-left: 30px !important;
    margin-bottom: 0;
    
}

.contact-info a {
    
    text-decoration: none;
    font-size: 15px;
    color: #fff;
}
.contact-info li:last-of-type {
    padding-top:  10px !important;
}
.social-items {
    padding-left: 0;
}
.social-items li {
    font-size: 20px;
}
 
}



/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    /* Styles */
    }
    
    /* Smartphones (landscape) ----------- */
    @media only screen and (min-width : 321px) {
    /* Styles */
    }
    
    /* Smartphones (portrait) ----------- */
    @media only screen and (max-width : 320px) {
    /* Styles */
    }
    
    /* iPads (portrait and landscape) ----------- */
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    /* Styles */
    }
    
    /* iPads (landscape) ----------- */
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    /* Styles */
    }
    
    /* iPads (portrait) ----------- */
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    /* Styles */
    }
    /**********
    iPad 3
    **********/
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
    /* Styles */
    }
    
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
    /* Styles */
    }
    /* Desktops and laptops ----------- */
    @media only screen  and (min-width : 1224px) {
    /* Styles */
    }
    
    /* Large screens ----------- */
    @media only screen  and (min-width : 1824px) {
    /* Styles */
    }
    
    /* iPhone 4 ----------- */
    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
    /* Styles */
    }
    
    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
    /* Styles */
    }
    
    /* iPhone 5 ----------- */
    @media only screen and (-webkit-device-pixel-ratio: 2) and (max-device-height: 667px) and (min-device-width: 375px) and (orientation: landscape){
    /* Styles */
    .logo {
        left: 30px !important;
        position: relative !important;
        height: 1.8rem;
        width: 1.8rem;
    }
    .navbar-toggler {
        position: relative;
        right: 60px !important;
        padding: 1px !important;
    }
    .mainNav {
        position: relative !important;
        margin-top: 15px !important;
        margin-right: -20px !important;
        align-items: flex-start;
    }
    header {
        height: 130vh !important;
    }
    }
    
    @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
    h1 {
        line-height: 0.5;
        font-size: 40px !important;
        letter-spacing: 3px;
    }
    .text-hero {
        padding-top: 5% !important;
    }
    .bg-light {
        padding: 20px !important;
    }
    .logo {
        margin-left: 20px;
        position: relative;
        height: 2.8rem;
        width: 2.8rem;
    }
    .navbar-toggler-icon {
        width: 1em !important;
        height: 1em !important;
    }
    .navbar-toggler {
        position: relative;
        right: 12px;
        padding: 1px !important;
    }
    .mainNav {
        position: relative !important;
        margin-top: 15px !important;
        right: 170px !important;
        align-items: flex-start;
    }
    }
    
    /* iPhone 6, 7, 8 ----------- */
    @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
    h1 {
        line-height: 0.3;
        font-size: 60px !important;
        letter-spacing: 7px;
    }
    header {
        height: 115vh;
    }
    .text-hero {
        padding-top: 5% !important;
    }
    .logo {
        margin-left: 20px !important;
        position: relative;
        height: 2.5rem;
        width: 2.5rem;
    }
    .bg-light {
        padding: 10px !important;
    }
    .mainNav {
        position: relative !important;
        margin-top: 15px !important;
        right: 440px !important;
        align-items: flex-start;
    }
    .navbar-toggler-icon {
        width: 1em !important;
        height: 1em !important;
    }
    .navbar-toggler {
        position: relative;
        right: 12px !important;
        padding: 1px !important;
    }
        
    }
    
    @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
    .text-hero {
        padding-top: 10% !important;
    }
    .logo {
        margin-left: 20px;
        position: relative;
        height: 2.5rem;
        width: 2.5rem;
    }
    .bg-light {
        padding: 20px !important;
    }
    .mainNav {
        position: relative !important;
        margin-top: 15px !important;
        right: 215px !important;
        align-items: flex-start;
    }
    .navbar-toggler-icon {
        width: 1em !important;
        height: 1em !important;
    }
    .navbar-toggler {
        position: relative;
        right: 12px;
        padding: 1px !important;
    }
    
    }
    
    /* iPhone 6+, 7+, 8+ ----------- */
   
    @media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
    
    .logo {
        margin-left: 20px;
        position: relative;
        height: 1.5rem;
        width: 1.5rem;
        top: -1px;
    }
    .bg-light {
        padding: 10px !important;
    }
    
    .mainNav {
        position: relative !important;
        margin-top: 10px !important;
    }
    .mainNav li a {
        font-size: 15px;
        margin-right: 70px !important;
    }
    .navbar-toggler {
        position: relative;
        right: 12px;
        padding: 1px;
    }
    .navbar-toggler-icon {
        width: 0.7em;
        height: 0.7em;
    }
    .navbar-toggler:focus,
    .navbar-toggler:active,
    .navbar-toggler-icon:focus {
    outline: var(--logo-color);
    box-shadow: var(--logo-color);
    border-color: var(--logo-color);
    }
    header {
        height: 115vh;
    }
}

/* Landscape */
 @media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 
    h1 {
        line-height: 0.4;
        font-size: 60px !important;
        letter-spacing: 7px;
    }

    .logo {
        margin-left: 1px !important;
        position: relative;
        height: 2rem !important;
        width: 2rem !important;
        top: 15px !important;
    }
    .bg-light {
        padding: 1px !important;
    }
    .text-hero {
        padding-top: 5% !important;
    }
    .mainNav {
        position: relative !important;
        right: 70% !important;
        align-items: flex-start;
        margin-top: 15px !important;
    }
    .mainNav li a {
        font-size: 15px;
        right: 100% !important;
        /* top: 10px !important; */
    }
    .navbar-toggler {
        position: relative;
        right: 12px;
        padding: 1px;
    }
    .navbar-toggler-icon {
        width: 0.7em;
        height: 0.7em;
    }
    .navbar-toggler:focus,
    .navbar-toggler:active,
    .navbar-toggler-icon:focus {
    outline: var(--logo-color);
    box-shadow: var(--logo-color);
    border-color: var(--logo-color);
    }
    header {
        height: 115vh;
    }

} 
   
    
    @media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
    }
    
    /* iPhone X ----------- */
    @media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
        h1 {
            line-height: 0.4;
            font-size: 60px;
            letter-spacing: 7px;
    
        }
        .logo {
            margin-left: 20px;
            position: relative;
            height: 1.5rem;
            width: 1.5rem;
            top: -15px;
        }
        /* .logo {
            margin-left: 1px !important;
            position: relative;
            height: 2rem !important;
            width: 2rem !important;
            top: 15px !important;
        } */
        .bg-light {
            padding: 0.1px !important;
        }
        .text-hero {
            padding-top: 0.1%;
        }
        .mainNav {
            position: relative;
            right: 83% !important;
            align-items: flex-start;
            top: 1px;
        }
        .mainNav li a {
            font-size: 15px;
            /* left: 100% !important; */
        }
        .navbar-toggler {
            position: relative;
            right: 12px;
            padding: 1px;
        }
        .navbar-toggler-icon {
            width: 0.7em;
            height: 0.7em;
        }
        .navbar-toggler:focus,
        .navbar-toggler:active,
        .navbar-toggler-icon:focus {
        outline: var(--logo-color);
        box-shadow: var(--logo-color);
        border-color: var(--logo-color);
        }
        header {
            height: 115vh;
        }
        .img-text-wrapper {
            padding-left: 0 !important;
            padding-right: 0 !important;
        }
    }
    
    @media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
    h1 {
        line-height: 0.5;
        font-size: 60px;
        letter-spacing: 1px;
    }
    .logo {
        margin-left: 20px;
        position: relative;
        height: 2.5rem;
        width: 2.5rem;
    }
    .bg-light {
        padding: 20px;
    }
    .mainNav {
        position: relative;
        right: 200px !important;
        align-items: flex-start;
    }
    .mainNav li a {
        font-size: 20px;
        /* left: 100% !important; */
    }
    .navbar-toggler {
        position: relative;
        right: 12px;
        padding: 8px;
    }
    .navbar-toggler-icon {
        width: 1.0em;
        height: 1.0em;
    }
    .navbar-toggler:focus,
    .navbar-toggler:active,
    .navbar-toggler-icon:focus {
    outline: var(--logo-color);
    box-shadow: var(--logo-color);
    border-color: var(--logo-color);
     }
    }
    
    /* iPhone XS Max, XR ----------- */
    @media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
    }
    
    @media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
    }
    
    /* Samsung Galaxy S3 ----------- */
    @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
    }
    
    @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
    }
    
    /* Samsung Galaxy S4 ----------- */
    @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
    }
    
    @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
    }
    
    /* Samsung Galaxy S5 ----------- */
    @media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
    }
    
    @media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
    }
    