/* //////////////////////// @MEDIA //////////////////////////////////// */


@media (max-width: 750px) {
    header {
        height: 80vh;
        background-repeat: no-repeat;
        background-position: center;
    }
    h1 {
        font-size: 1.5rem;
        color: #fff;
        margin-bottom: 1.125rem;
    }

    h2 {
        font-size: 60%;
        text-align: center;
        word-spacing: 1px;
        /* word-spacing: 2px; */
        letter-spacing: 0.2px;
    }
    
    h2::after{
        width: 100px;
    }
    img.logo {
        border-radius: 50% !important;
    }
    .logo {
        height: 2.25rem;
        width: 2.25rem;
        float: left;
        margin-left: 45px;
        margin-top: 5px;
        /* align-items: center; */
    }

    /* nav {
        background-color: blue !important;
    } */

    .mainNav {
        color: #fff;
        display: inline-flex;
        align-items: center;
        margin-right: 20px;
        padding: 0;
    }
    
    li {
        margin-right: 1px;
        font-size: 15px;
        list-style-type: none;
        /* align-items: center; */
    }
    .mainNav li a {
        font-size: 15px;
    }

    .text-hero {
        padding-top: 30%;
        padding-left: 10%;
    }

    .btn:link,
    .btn:visited {
    padding: 8px;
    font-size: 0.7rem;
 }

 .services-box {
    width: 100%;
    margin-left: 1%;
    align-items: center;
    text-align: center;
 }

 section {
    padding: 1rem;
 }

 .icon-big {
    font-size: 180%;
    /* color:  var(--clr-main); */
}
 /* .long-text {
    font-size: 70%;
    line-height: 140%;
    width: 80%;
    padding: 1.25rem;
    margin-left: 0;
    text-align: center;
    letter-spacing: 1px;
} */
 .gallery {
    width: 60%;
}

.showCase {
    list-style: none;
    margin-left: 5px;
    margin-right: 5px;
}

.showCase li {
    display: inline-block; 
    width: 25%;
}

.image {
    width: 120%;
    height: auto;
}
/* /////// SHOCASE GRID /////// */
.img-text-wrapper {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.showcase-items {
    display: ruby;
    grid-template-columns: 1fr 1fr !important;
    grid-gap: 2px;
}

.icon {
   font-size: 200%; 
}
/* ///////FOOTER /////// */
.contact-info {
    display: grid !important;
    /* justify-content: center; */
    align-items: center;
    padding-left: 30px !important;
    margin-bottom: 0;
    
}

.contact-info a {
    
    text-decoration: none;
    font-size: 15px;
    color: #fff;
}
.contact-info li:last-of-type {
    padding-top:  10px !important;
}
.social-items {
    padding-left: 0;
}
.social-items li {
    font-size: 20px;
}
 
}


/* /// by adding opacity -10 to icons it won't display but with the magicJS will. */
.social-footer li ion-icon {
    color: #fff;
    padding: 1;
    margin: 0 auto;
    /* opacity: -10; */
}

